header{
    text-align: center;
    padding-top: 20px;
}
header ul{
    list-style-type: none;
}
header li{
    display: inline-block;
    margin: 0px 20px;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: #2c061f;
    padding: 3px;
}
a:hover{
    border-bottom:2px solid #2c061f ;
}