div{
    padding: 40px;
    margin-top: 40px;
    text-align: center;
    color: #e1d89f;
    border: 2px solid #2c061f;
    border-radius: 8px;
    background-color: #2c061f;
    
}
div h2{
    color: #e1d89f;
}